input, select, textarea{
    display: block;
    margin: 1px 2px 3px 4px;
    text-align: center;
}
.inline{
    display: inline;
}
h1{
    text-align: center;
}
body{
    background-color: antiquewhite;
}
.flud-container{
    background-color: bisque;
    width: 50%;
    text-align: center;
    margin-left: 400px;
}
.out{
    margin-left: 205px;
}
